@model dynamic


<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<div class="content">
									<h2 class="entry-title">Our History</h2>
									<figure class="featured-image">
										<img src="~/images/band.jpg" alt="post image">
									</figure>
                                    <p class="leading">A Origem da Dona Ermelinda: Uma Jornada Musical Enraizada na História</p>
                                    <p>A história da banda Dona Ermelinda é uma trama única, entrelaçada com as raízes de um bairro que lhe deu nome. Originária do pitoresco bairro Ermelinda, nossa banda encontra sua essência nas histórias e na herança cultural que permeiam a região.</p>
                                    <p>Dona Ermelinda, que possuia uma fazenda em nossa região, não só emprestou seu nome à nossa jornada musical, mas também era a proprietária de uma fazenda que se estendia por vastos terrenos ao redor do que mais tarde se tornaria o bairro Ermelinda. Com essa fazenda, ela plantou as sementes do que se tornaria um legado musical.</p>
                                    <p>Os membros da Dona Ermelinda compartilham a paixão pela música e as influências das histórias que permeiam o bairro. Com Lucão, o "Mago das Cordas", no comando da guitarra, Waguinho, a "Voz Inconfundível", liderando os vocais, Heleno, "O Pulsar do Baixo", e Allan, o "Baterista Poderoso", as raízes de nossa banda são profundamente fincadas no solo rico de Ermelinda.</p>
                                    <p>Nosso som é uma expressão única dessa herança. Com raízes no rock, nossa música reflete a diversidade e a riqueza da cultura do bairro, onde melodias cativantes e ritmos poderosos se encontram para criar um som que é tão autêntico quanto a própria Ermelinda.</p>
                                    <p>Junte-se a nós nesta jornada musical onde a história encontra a harmonia, e a paixão pela música e pelas tradições locais se unem para criar algo verdadeiramente especial. A Dona Ermelinda é mais do que uma banda; somos uma homenagem à nossa herança, e nossa música é a trilha sonora das histórias do bairro que nos viu nascer.</p>
								</div>
							</div>
							<div class="col-md-4 col-md-push-1">
								<aside class="sidebar">
									<div class="widget">
										<h3 class="widget-title">Quem Somos</h3>
										<ul class="discography-list">
											<li>
												<figure class="cover"><img src="~/DonaErmelinda/IMG_1105.jpg" alt="thumbnail 1"></figure>
												<div class="detail">
													<h3><a href="#">Waguinho</a></h3>
													<span class="year">Voval</span>
													<span class="track">Cantor e guitarrista</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="~/DonaErmelinda/IMG_1098.jpg" alt="thumbnail 2"></figure>
												<div class="detail">
													<h3><a href="#">Allan</a></h3>
													<span class="year">Baterista</span>
													<span class="track">Bateria e segunda voz</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="~/DonaErmelinda/IMG_1103.jpg" alt="thumbnail 3"></figure>
												<div class="detail">
													<h3><a href="#">João</a></h3>
													<span class="year">Guitarrista</span>
													<span class="track">Guitarra base e solo</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="~/DonaErmelinda/IMG_1099.jpg" alt="thumbnail 4"></figure>
												<div class="detail">
													<h3><a href="#">José</a></h3>
													<span class="year">Baixista</span>
													<span class="track">Baixo elétrico</span>
												</div>
											</li>
											
										</ul>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->
