@model dynamic


<main class="main-content">
    <div class="fullwidth-block inner-content">
        <div class="container">
            <h2 class="page-title">Entre em contato</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" class="contact-form">
                        <input type="text" placeholder="Seu nome"..>
                        <input type="text" placeholder="Email..">
                        <input type="text" placeholder="Website...">
                        <textarea name="#" placeholder="Messagem..."></textarea>
                        <input type="submit" value="Enviar messagem">
                    </form>
                </div>
                
            </div>
        </div>
    </div> <!-- .testimonial-section -->

				
</main> <!-- .main-content -->