@model dynamic


<main class="main-content">
    <div class="fullwidth-block inner-content">
        <div class="container">
            <h2 class="page-title">Entre em contato</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" class="contact-form">
                        <input type="text" id="txtNome" placeholder="Seu nome"..>
                        <input type="text" id="txtEmail" placeholder="Email..">
                        <textarea name="#" id="txtMensagem" placeholder="Messagem..."></textarea>
                        <input type="submit" id="enviar" value="Enviar messagem">
                       <!-- <a href="javascript:;" class="btn btn-primary" id="enviar">Enviar messagem</a>-->
                    </form>
                </div>
                
            </div>
        </div>
    </div> <!-- .testimonial-section -->

				
</main> <!-- .main-content -->

@section Scripts
{
    <script type="text/javascript">
     $("#enviar").click(function () {
         
        // Obter os valores dos campos
        var nome = $("#txtNome").val();
        var email = $("#txtEmail").val();
        var mensagem = $("#txtMensagem").val();

        // Validar os campos
        if (!nome || !email || !mensagem || !website) {
            // Emitir um alerta se algum campo estiver vazio
            alert("Por favor, preencha todos os campos.");
            return;
        } 
        var dados = {
            txtNome: $("#txtNome").val(),
            txtEmail: $("#txtEmail").val(),
            txtMensagem: $("#txtMensagem").val()
        };
        $.ajax({
            url: '@Url.Action("SendEmail", "Home")',
            type: 'POST',
            data: dados,
            success: function (result) {
                if (result.success) {
                    alert("Inscrição bem-sucedida!");
                } else {
                    alert("Erro: " + result.message);
                }
            },
            error: function () {
                // Lógica para lidar com erros
                console.log("Erro ao enviar dados.");
            }
        });
    });
    </script>

}
