@model dynamic


<main class="main-content">
    <div class="fullwidth-block inner-content">
        <div class="container">
            <h2 class="page-title">Entre em contato</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" class="contact-form">
                        <input type="text" id="txtNome" placeholder="Seu nome"..>
                        <input type="text" id="txtEmail" placeholder="Email..">
                        <input type="text" id="txtWebsite" placeholder="Website...">
                        <textarea name="#" id="txtMensagem" placeholder="Messagem..."></textarea>
                        <input type="submit" id="enviar" value="Enviar messagem">
                       <!-- <a href="javascript:;" class="btn btn-primary" id="enviar">Enviar messagem</a>-->
                    </form>
                </div>
                
            </div>
        </div>
    </div> <!-- .testimonial-section -->

				
</main> <!-- .main-content -->

@section Scripts
{
 <script src="~/js/Contato.js"></script>

}
