@model dynamic

			<main class="main-content">
				<div class="fullwidth-block gallery">
					<div class="container">
						<div class="content fullwidth">
							<h2 class="entry-title">Gallery</h2>
							<div class="filter-links filterable-nav">
								<select class="mobile-filter">
									<option value="*">Show all</option>
									<option value=".concert">Concert</option>
									<option value=".band">Band</option>
									<option value=".stuff">Stuff</option>
								</select>
								<a href="#" class="current" data-filter="*">Show all</a>
								<a href="#" data-filter=".concert">Concert</a>
								<a href="#" data-filter=".band">Band</a>
								<a href="#" data-filter=".stuff">Stuff</a>
							</div>
                            <div class="filterable-items">
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1098.jpg"><figure><img src="~/DonaErmelinda/IMG_1098.jpg" alt="gallery 1"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1099.jpg"><figure><img src="~/DonaErmelinda/IMG_1099.jpg" alt="gallery 2"></figure></a>
                                </div>
                                <div class="filterable-item stuff">
                                    <a href="~/DonaErmelinda/large/IMG_1100.jpg"><figure><img src="~/DonaErmelinda/IMG_1100.jpg" alt="gallery 3"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1101.jpg"><figure><img src="~/DonaErmelinda/IMG_1101.jpg" alt="gallery 4"></figure></a>
                                </div>
                                <div class="filterable-item band">
                                    <a href="~/DonaErmelinda/large/IMG_1102.jpg"><figure><img src="~/DonaErmelinda/IMG_1102.jpg" alt="gallery 5"></figure></a>
                                </div>
                                <div class="filterable-item stuff">
                                    <a href="~/DonaErmelinda/large/IMG_1103.jpg"><figure><img src="~/DonaErmelinda/IMG_1103.jpg" alt="gallery 6"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1105.jpg"><figure><img src="~/DonaErmelinda/IMG_1105.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item band">
                                    <a href="~/DonaErmelinda/large/IMG_1107.jpg"><figure><img src="~/DonaErmelinda/IMG_1107.jpg" alt="gallery 8"></figure></a>
                                </div>
                                <div class="filterable-item band">
                                    <a href="~/DonaErmelinda/large/IMG_1110.jpg"><figure><img src="~/DonaErmelinda/IMG_1110.jpg" alt="gallery 9"></figure></a>
                                </div>
                                <div class="filterable-item stuff">
                                    <a href="~/DonaErmelinda/large/IMG_1114.jpg"><figure><img src="~/DonaErmelinda/IMG_1114.jpg" alt="gallery 10"></figure></a>
                                </div>
                                <div class="filterable-item band">
                                    <a href="~/DonaErmelinda/large/IMG_1115.jpg"><figure><img src="~/DonaErmelinda/IMG_1115.jpg" alt="gallery 11"></figure></a>
                                </div>
                                <div class="filterable-item stuff">
                                    <a href="~/DonaErmelinda/large/IMG_1118.jpg"><figure><img src="~/DonaErmelinda/IMG_1118.jpg" alt="gallery 12"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1211.jpg"><figure><img src="~/DonaErmelinda/IMG_1211.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1210.jpg"><figure><img src="~/DonaErmelinda/IMG_1210.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1231.jpg"><figure><img src="~/DonaErmelinda/IMG_1231.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1203.jpg"><figure><img src="~/DonaErmelinda/IMG_1203.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1191.jpg"><figure><img src="~/DonaErmelinda/IMG_1191.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1198.jpg"><figure><img src="~/DonaErmelinda/IMG_1198.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1229.jpg"><figure><img src="~/DonaErmelinda/IMG_1229.jpg" alt="gallery 7"></figure></a>
                                </div>
                                <div class="filterable-item concert">
                                    <a href="~/DonaErmelinda/large/IMG_1195.jpg"><figure><img src="~/DonaErmelinda/IMG_1195.jpg" alt="gallery 7"></figure></a>
                                </div>
                            </div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->