@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" style="display: flex;justify-content: center; align-items: center;">
    <img src="~/images/band.jpg" alt="post image" class="lazy-bg" style="height: auto; width:100%; display: flex;justify-content: center; align-items: center;">
    @* <div class="slider"> *@
    @* 	<ul class="slides"> *@
    @* 		<li class="lazy-bg" data-background="images/band.jpg" style="height: 800px; display: flex;justify-content: center; align-items: center;"> *@
    @* 			<div class="container"> *@
    @* *@
    @* 			</div> *@
    @* 		</li> *@
    @* 		<li class="lazy-bg" data-background="dummy/slide-2.jpg"> *@
    @* 			<div class="container"> *@
    @* 				<h2 class="slide-title">Header goes here</h2> *@
    @* 				<h3 class="slide-subtitle">Less important text goes here</h3> *@
    @* 				<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p> *@
    @* *@
    @* 				<a href="#" class="button cut-corner">Read More</a> *@
    @* 			</div> *@
    @* 		</li> *@
    @* 		<li class="lazy-bg" data-background="dummy/slide-3.jpg"> *@
    @* 			<div class="container"> *@
    @* 				<h2 class="slide-title">Header goes here</h2> *@
    @* 				<h3 class="slide-subtitle">Less important text goes here</h3> *@
    @* 				<p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Fugiat aliquid minus nemo sed est.</p> *@
    @* *@
    @* 				<a href="#" class="button cut-corner">Read More</a> *@
    @* 			</div> *@
    @* 		</li> *@
    @* 	</ul> *@
    @* </div> *@
</div>


<!-- 	<main class="main-content">
       <div class="fullwidth-block testimonial-section">
           <div class="container">
               <div class="quote-slider">
                   <ul class="slides">
                       <li>
                           <blockquote>
                               <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"</p>
                               <cite>John Smith</cite>
                               <span>Corporation CEO, books author</span>
                           </blockquote>
                       </li>
                       <li>
                           <blockquote>
                               <p>"Iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo"</p>
                               <cite>John Smith</cite>
                               <span>Corporation CEO, books author</span>
                           </blockquote>
                       </li>
                   </ul>
               </div>
           </div>
       </div> .testimonial-section -->

<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">Nosso eventos</h2>

            <div class="event-nav">
                <a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
                <a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
            </div> <!-- .event-nav -->

        </header> <!-- .section-header -->
        <div class="event-carousel">

            <div class="event">
                <div class="entry-date">
                    <div class="date">16</div>
                    <span class="month">Set</span>
                </div>
                <h2 class="entry-title"><a href="#">Carna Rock Santerê</a></h2>
                <p>Show na praça Duque de Caxias no Santa Teresa - Belo Horizonte. Várias bandas de rock com fechamento feito pela Banda Dona Ermelinda</p>
            </div> <!-- .event -->


            <div class="event">
                <div class="entry-date">
                    <div class="date">10</div>
                    <span class="month">Ago</span>
                </div>
                <h2 class="entry-title"><a href="#">Show de bandas no Colégio Arnaldo</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur</p>
            </div> <!-- .event -->


            <div class="event">
                <div class="entry-date">
                    <div class="date">23</div>
                    <span class="month">Jun</span>
                </div>
                <h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur</p>
            </div> <!-- .event -->


            <div class="event">
                <div class="entry-date">
                    <div class="date">23</div>
                    <span class="month">Jun</span>
                </div>
                <h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur </p>
            </div> <!-- .event -->


            <div class="event">
                <div class="entry-date">
                    <div class="date">23</div>
                    <span class="month">Jun</span>
                </div>
                <h2 class="entry-title"><a href="#">Sed et persipiatis unde omnis iste natus</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur </p>
            </div> <!-- .event -->

        </div> <!-- .event-carousel -->
    </div> <!-- .container -->
</div> <!-- .upcoming-event-section -->

<div class="fullwidth-block why-chooseus-section">
    <div class="container">
        <h2 class="section-title">Por que nossa banda?</h2>

        <div class="row">
            <div class="col-md-3">
                <div class="feature">
                    <figure class="cut-corner">
                        <img src="~/DonaErmelinda/large/IMG_1103.jpg" alt="">
                    </figure>
                    <h3 class="feature-title">Lucão: O Guitarrista Incendiário da nossa banda</h3>
                    <p>Lucão é o guitarrista virtuoso que dá vida à nossa música. Com uma paixão inabalável pela música desde jovem, ele se tornou um mago das cordas, produzindo riffs e solos que incendeiam nossas canções. Seu talento, estilo único e presença cativante no palco conquistaram fãs</p>
                </div> <!-- .feature -->
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <figure class="cut-corner">
                        <img src="~/DonaErmelinda/large/IMG_1105.jpg" alt="">
                    </figure>
                    <h3 class="feature-title">Waguinho: A Voz Inconfundível que Cativa Multidões</h3>
                    <p>Waguinho, nosso vocalista, é a alma vibrante e carismática da banda. Com sua voz inconfundível, ele eleva nossas músicas a patamares épicos. Seu talento versátil e presença magnética no palco conquistam multidões, criando uma conexão única com nosso público.</p>
                </div> <!-- .feature -->
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <figure class="cut-corner">
                        <img src="~/DonaErmelinda/large/IMG_1146.jpg" alt="">
                    </figure>
                    <h3 class="feature-title">Heleno: O Pulsar do Baixo em nosso som</h3>
                    <p>Heleno é nosso excepcional baixista, conferindo profundidade e groove à nossa música. Seu estilo único e dedicação incansável o destacam como um mestre das quatro cordas. Nos bastidores, Heleno é um membro comprometido e uma fonte de inspiração. </p>
                </div> <!-- .feature -->
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <figure class="cut-corner">
                        <img src="~/DonaErmelinda/large/IMG_1148.jpg" alt="">
                    </figure>
                    <h3 class="feature-title">Allan: A Batida Poderosa que nos impulsiona </h3>
                    <p>Allan, nosso baterista, é a força rítmica que impulsiona nossa música. Com sua batida poderosa e precisão metódica, ele é o alicerce da nossa sonoridade. Sua paixão pela percussão e dedicação à banda são inigualáveis. No palco, sua presença enérgica e talento garantem que cada performance seja uma experiência intensa e inesquecível. </p>
                </div> <!-- .feature -->
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .why-chooseus-section -->
    </main> <!-- .main-content -->